body {
	background: #ffffff;  
	text-align: center; 
	padding: 20px; 
	color: #575757; 
	font: 14px/21px Arial,Helvetica,sans-serif;
}

canvas {
	border: 1px solid black;
}

#inputSect {
	border: 1px solid black;
	width: 400px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

#forSect {
	border: 1px solid black;
	width: 400px;
	margin: auto;
}